body{
    margin-top: 5px;
    background-color: black;
    overflow: hidden;
    color: white;
}
.navbar-brand{
    font-size: 15pt;
    background-color: white;
    border-radius: 2px;
    margin-top: 10px;
}
.navbar-right{
font-size: large;
}
.navbar-right li{
    background-color: white;
    border-radius: 2px;
    margin: 0.5em;
}